@page
@model project_razorpage.SearchFoodModel
@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

<form method="post">
    <p>
        Name: <input type="text" asp-for="TitleSearchString" />
    </p>
    <p>
        Description : <input type="text" asp-for="GenreSearchString" />
    </p>
    <p>
        Price less than: <input type="text" asp-for="PriceSearchString" />
    </p>
    <p>
        <input type="submit" value="Display" />
    </p>
</form>
@if (Model.Food != null)
{
    <table border="1" cellpadding="10">
        @foreach (var item in Model.Food)
        {
            <tr><td>@item.FoodName</td><td>@item.Price</td></tr>
        }
    </table>
}