@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var greetings = "welcome";
    if (Model.Username == "")
    {
        if (DateTime.Now.Hour > 12)
        {
            greetings = " Good Afternoon";
        }
        else
        {
            greetings = " Good Morning";
        }
    }
    else
    {
        if (DateTime.Now.Hour > 12)
        {
            greetings = " Good Afternoon ," + Model.Username;
        }
        else
        {
            greetings = " Good Morning ," + Model.Username;
        }
    }

}

    <div class="text-center">
        <h2 class="display-4">@greetings</h2>
        <p>
            <a href="User/Create">Register</a> |<a href="Signin">Sign In</a>|<a asp-page="Logout">Logout</a> 
        <img src="~/images/food-2879265_640.jpg" alt="banner" />
</div>
    <div class="text-center">
        <form action="Order/Create">
            <button type="submit"  class="btn btn-primary btn-lg">Order Now!</button>
        </form>
    </div><div class="text-center">

    <h5> Menu</h5>
    <table class="table">
           <tbody>
               <tr><td>
    <img src="~/images/popcorn_chicken.jpg" alt="popcorn chicken" />
</td><td><img src="~/images/pizza.jpg" alt="pizza slices" /></td></tr>
               <tr><td>popcorn chicken</td><td>pizza slices</td></tr>
               <tr><td>$5.00</td><td>$7.50</td></tr>
           </tbody>
    </table>
    
</div>

